<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>VueJs ToDo List</title>
</head>
<body>
    <h1 class="text">ToDo List</h1>

<div id="root">
    
    <div class="field">
        <input type="text"
            v-model="newDuty"
            @keyup.enter="addDuty"
        >

        <span @click="addDuty">Inserisci il da farsi</span>
    
    </div>

    <br>
    
    <div id="lista" v-if="lista.length > 0">
        <ul>
            <li class="list" v-for="(impegni, index) in lista">

                <span
                    :class="(impegni.progress ==  true) ? 'fatto' : ' ' "
                    @click="fatto(impegni)"                
                >{{ impegni.project }}</span>

                <span @click="removeLista(index)"><i class="fa-solid fa-xmark cross"></i></span>

            </li>
        </ul>
    </div>
    <div v-else="" class="noduty">
        <span >Non ci tieni impegni, fai quello che vuoi !</span>
    </div>



































</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./main.js"></script>
</body>
</html>