body{
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    font-size: 3em;
    text-align: center;

}

.field{
    text-align: center;
    margin: 0px auto;
}

.field span{
    margin-left: 1em;
}

#lista{
    width: 60%;
    height: fit-content;
    background-color: bisque;
    margin: 0px auto;
    padding: 1em;
}

.cross{
    color: red;
    margin-right: 20px;
}

.list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.noduty{
    width: 60%;
    margin: 0px auto;
    text-align: center;
    font-size: 2em;
}

.fatto{
    text-decoration: line-through;



}